
<div class="card " style="width: 18rem;">
  {% if instance.image %}
  <a href="{{ instance.get_absolute_url }}" class="">
    <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
  </a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:15 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
    <!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">Url shortcut</a> -->
  </div>
</div>

<!-- 1580508175
d.o.b  15/10/1988
r.no   193299007 -->
