{% extends "base/base.html" %}
{% load static %}


{% block base_head %} <link rel="stylesheet" href='{% static "css/main.css" %}'> {% endblock %}


{% block content %}
<div class="text-center">
  <!--    here we pass the context it provide the values here Context variable -->
  <h1>{{ title }}</h1>
  <h2>Hello World we are working here!</h2>
</div>
<hr>

  <div class="row">
    <div class="col">
      <img src="{% static 'img/workshop.png' %}" class="img-fluid" alt="">
      <p>{{ content }}</p>

    </div>
  </div>
  {% if request.user.is_authenticated %} #it allow to show if the user is authenticated
  <div class="row">
    <div class="col">
      <h1>Premium</h1>
      <p>{{ premium_content }}</p>
    </div>
  </div>
  {% endif %}


{% endblock %}
